.tiptap {
  max-width: none;
  min-height: 5rem;
}

.tiptap:focus {
  outline: none;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #b1b1b1;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
