.prose {
  max-width: none;
}

.prose:focus {
  outline: none;
}

.prose ul li p,
.prose ol li p {
  margin: 0;
}

.prose ul[data-type="taskList"] li {
  display: flex;
}

.prose ul[data-type="taskList"] input[type="checkbox"] {
  width: 1em;
  height: 1em;
  margin-right: 0.8em;
}

.prose code {
  font-family: "Fira Code Variable", "Noto Sans SC Variable", monospace;
}
